:host {
  display: block;
  width: 100%;

  ion-label, ion-icon {
    color: var(--color-navigation);
  }

  ion-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: var(--ion-color-primary) !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
}
