<ion-header>
  <ion-toolbar>
    @if (playlistData()) {
      <ion-card>
        <ion-card-header class="playlist-header-grid">
          <img [src]="playlistData().images[0]?.url" class="playlist-header-image"/>
          <div class="playlist-meta">
            <ion-card-title>{{ playlistData().name }}</ion-card-title>
            @if (playlistData().description) {
              <ion-card-subtitle class="playlist-description">{{ playlistData().description }}</ion-card-subtitle>
            }
            <ion-card-subtitle>
              <span class="track-count">Tracks ({{ playlistData().tracks.length }})</span>
            </ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (loading()) {
    <div class="loading-container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <ion-text color="medium">
        <p>Loading Playlist</p>
      </ion-text>
      <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
    </div>
  } @else {
    @if (playlistData()) {
      <ion-card>
        <ion-card-content>
          <ion-accordion-group [value]="lastMonthOpen()">
            @for (group of playlistGroupedByMonth(); track group.month) {
              <ion-accordion [value]="group.month">
                <ion-item slot="header" color="light">
                  <ion-label>{{ group.month }}</ion-label>
                </ion-item>
                <div slot="content">
                  <ion-list>
                    @for (track of group.tracks; track track.track.id) {
                      <ion-item (click)="openRelease(track)">
                        <ion-thumbnail slot="start">
                          <img [src]="track.track.album.images[0]?.url">
                        </ion-thumbnail>
                        <ion-label>
                          <h2>{{ track.track.name }}</h2>
                          <p>{{ track.track.artists[0].name }}</p>
                          <p class="meta-line">
                            <ion-badge style="font-size: 0.6rem"
                                       [style.background-color]="getBadgeColor(track.added_by?.display_name || '')">
                              {{ track.added_by?.display_name }}
                            </ion-badge>
                            &nbsp;{{ track.added_at | date:'dd.MM.yyyy - HH:mm' }}
                          </p>
                        </ion-label>
                      </ion-item>
                    }
                  </ion-list>
                </div>
              </ion-accordion>
            }
          </ion-accordion-group>

        </ion-card-content>
      </ion-card>
    }
  }
</ion-content>
<app-footer-navigation></app-footer-navigation>
