// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ffc815;
  --ion-color-secondary: #0ce3ff;
  --ion-color-primary-rgb: 29, 185, 84;
  --app-height: 10dvh;
  --base-color: #ffffff;
}

body[color-theme='dark'] {
  --ion-text-color: #ffffff;
  --ion-background-color: #121212;
  --background: #121212;
  --ion-item-background: #1e1e1e;
}

body[color-theme='light'] {
  --base-color: #3a3a3a;
  --ion-text-color: #1b1b1b;
  --ion-background-color: #ffffff;
  --background: #ff0000;
  --ion-color-base: #ff0000;
  --ion-item-background: #ffffff;

  .in-segment-color, .year-segment, ion-card-title, .track-count, ion-card-subtitle {
    color: var(--base-color) !important;
    text-shadow: unset !important;
  }

  .playlist-description {
    color: var(--ion-color-secondary) !important;
  }

  ion-accordion, ion-card-content, ion-card-header, ion-card, ion-toolbar, ion-card-title {
    --background: #f4f4f4;
    box-shadow: unset;
  }
}

html, body, ion-app, ion-content {
  height: var(--app-height);
}

ion-content {
  --padding-bottom: 56px;
  height: var(--app-height);
}

.album-card {
  background-color: #181818;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.album-card img {
  width: 100%;
  height: auto;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

ion-content {
  --padding-bottom: 56px;
  height: 100dvh !important;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 1rem;
  text-align: center;
}


ion-progress-bar {
  background: var(--ion-color-secondary);
}
